<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solution</title>
    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/myStyles.css" type="text/css" >
    <!-- END Link to the bootstrap stylesheet -->
</head>
<body>
    <div class="marginAll">
        <!--
        Notes: Solution
        -->
        <div th:replace="base :: navlinks"></div>
        <h2>Solution Page</h2>
        <br />
        <H4>Solving:</H4>

        <!-- Step 1 -->
        <br />
        <h5>Step 1</h5>
        <p>Step 1: </p>


        <!-- Step 2 -->
        <br />
        <h5>Step 2</h5>
        <p>Step 2: </p>

        <!-- Step 3 -->
        <br />
        <h5>Step 3</h5>
        <p>Step 3: </p>

        <!-- Step 4 -->
        <br />
        <h5>Step 4</h5>
        <p>Step 4: </p>

        <!-- Step 5 -->
        <br />
        <h5>Step 5</h5>
        <p>Step 5: </p>

        <br />
        <div th:replace="base :: footer"></div>
    </div>
    <!-- JS code: insert this just before the </body> tag -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
    <!-- END JS code -->
</body>
</html>